<%= form_with(model: recommendation, local: true) do |form| %>
  <% if recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
      <% recommendation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :recommendation_title %>
  </div>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :recommendation_username %>
  </div>

  <ul>
    <%= form.fields_for :fandom do |fandom_form| %>
    <li>
      <%= fandom_form.label :fandom %>
      <%= fandom_form.text_field :fandom %>
    </li>
    <% end %>
  </ul>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :recommendation_summary %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :recommendation_author %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre, id: :recommendation_genre %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.number_field :length, id: :recommendation_length %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, id: :recommendation_rating %>
  </div>

  <div class="field">
    <%= form.label :complete %>
    <%= form.check_box :complete, id: :recommendation_complete %>
  </div>

  <div class="field">
    <%= form.label :recommender_review %>
    <%= form.text_area :recommender_review, id: :recommendation_recommender_review %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
