<div class="form-group card container card-block form-horizontal">
  <%= form_for @recommendation do |form| %>
    <% if @recommendation.errors.any? %>
      <% @recommendation.errors.full_messages.each do |error| %>
    <%= alert_generator error %>
  <% end %>
<% end %>

    <div class="form-group required">
      <%= form.label :title %>
      <%= form.text_field :title, id: :recommendation_title, class: "form-control", required: true %>
    </div>

    <div class="form-group required">
      <%= form.label :Url %>
      <%= form.text_field :url, id: :recommendation_url, class: "form-control", required: true %>
    </div>

    <div class="form-group required">
      <%= form.label :author %>
      <%= form.text_field :author, id: :recommendation_author, class: "form-control", required: true %>
    </div>

    <div class="form-group required">
      <%= form.label :pairings %>
      <%= form.text_field :pairings, id: :recommendation_pairings, class: "form-control", required: true %>
    </div>

    <div class="form-group required">
      <%= form.label :summary %>
      <%= form.text_area :summary, id: :recommendation_summary, class: "form-control", required: true %>
    </div>

    <div class = "row">
      <div class = "col required">
        <%= form.label :rated %>
        <%= form.select :rated, options_for_rated, id: :recommendation_rated, class: "form-control", required: true %>
      </div>

      <div class = "col required">
        <%= form.label :language %>
        <%= form.select :language, options_for_language, id: :recommendation_language, class: "form-control", required: true %>
      </div>

      <div class = "col required">
        <%= form.label :genre %>
        <%= form.select :genre, options_for_genre, id: :recommendation_genre, class: "form-control", required: true %>
      </div>
    </div>
    
    <div class = "row">
      <div class="form-group required col">
        <%= form.label :chapters %>
        <%= form.number_field :chapters, id: :recommendation_chapters, required: true %>
      </div>

      <div class="form-group required col">
        <%= form.label :words %>
        <%= form.number_field :words, id: :recommendation_words, required: true %>
      </div>

       <div class="form-group col">
        <%= form.label :complete %>
        <%= form.check_box :complete, id: :recommendation_complete%>
      </div>
    </div>

    <div class="actions">
      <%= form.submit "Create Recommendation", class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div> 
