<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Rec'd</h3>
    <nav class="nav nav-masthead">
        <%= form_tag(recommendations_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Recommendations" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
        <%= link_to "Home", root_path, class: 'nav-link' %>
        <%= link_to "Fics", recommendations_path, class: 'nav-link' %>
        <%= link_to "About", about_path, class: 'nav-link' %>
        <%= link_to "Contact", contact_path, class: 'nav-link' %>
        <%= login_helper ('nav-link') %>
    </nav>
  </div>
</div>