<div class = "container">
  <div class="card  text-left">
    <div class = card-header>
      <h4 class="card-title"><%= link_to recommendation.title, recommendation_path(recommendation) %></h4>
      <h6 class="card-subtitle mb-2 text-muted">By: <%= recommendation.author %></h6>
       <div class="card-subtitle mb-2 text-muted"> Pairings: </div>
    </div>
    <div class="card-block">
      <p class="card-text">Summary: <%= recommendation.summary %></p>
    </div>
    <div class="card-footer text-muted">
      <p>Recommended by: <%= recommendation.username %></p>

      <div class = "row">
        <div class = "col-sm-2">
          Rated:
        </div>
        <div class = "col-sm-2">
          Language:
        </div>
        <div class = "col-sm-2">
          Genre: <%= recommendation.genre %>
        </div>
        <div class = "col-sm-2">
          Chapters:
        </div>
        <div class = "col-sm-2">
          Words: <%= recommendation.length %>
        </div>
        <div class = "col-sm-2">
          Completed: <%= recommendation.complete %>
        </div>
    </div>
      <p><%= link_to 'Edit', edit_recommendation_path(recommendation) if logged_in?(:site_admin) %></p>
     <p> <%= link_to 'Delete', recommendation, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></p>
    </div>
  </div>
</div>
    <td><%= link_to 'Edit', edit_recommendation_path(recommendation) if logged_in?(:site_admin) %></p>
    <td><%= link_to 'Delete', recommendation, method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin) %></td>
