<p id="notice"><%= notice %></p>

<h1>Recommendations</h1>

<%= link_to 'New Recommendation', new_recommendation_path %>

    <div>
      <p>Title</p>
      <p>Fandoms</p>
      <p>Summary</p>
      <p>Author</p>
      <p>Genre</p>
      <p>Length</p>
      <p>Rating</p>
      <p>Complete</p>
      <p>Recommended by</p>
    </div>

  <div>
    <% @recommendations.each do |recommendation| %>
        <p><%= link_to recommendation.title, recommendation_path(recommendation) %></p>
        <p><%= recommendation.fandom %></p>
        <p><%= recommendation.summary %></p>
        <p><%= recommendation.author %></p>
        <p><%= recommendation.genre %></p>
        <p><%= recommendation.length %></p>
        <p><%= recommendation.rating %></p>
        <p><%= recommendation.complete %></p>
        <p><%= recommendation.username %></p>
        <p><%= link_to 'Edit', edit_recommendation_path(recommendation) %></p>
        <p><%= link_to 'Delete', recommendation, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    <% end %>
  </div>
</table>

<br>


