<p id="notice"><%= notice %></p>

<h1>Recommendations</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Fandom</th>
      <th>Summary</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Length</th>
      <th>Rating</th>
      <th>Complete</th>
      <th>Recommended by</th>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <% @recommendations.each do |recommendation| %>
      <tr>
        <td><%= link_to recommendation.title, recommendation_path(recommendation) %></td>
        <td><%= recommendation.fandom %></td>
        <td><%= recommendation.summary %></td>
        <td><%= recommendation.author %></td>
        <td><%= recommendation.genre %></td>
        <td><%= recommendation.length %></td>
        <td><%= recommendation.rating %></td>
        <td><%= recommendation.complete %></td>
        <td><%= recommendation.recommended_by %></td>
        <td><%= link_to 'Edit', edit_recommendation_path(recommendation) %></td>
        <td><%= link_to 'Delete', recommendation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recommendation', new_recommendation_path %>
