<% unless current_user.is_a? GuestUser %>
  <%= form_for @review, url: '#' do |form| %>
    <% if @review.errors.any? %>
      <% @review.errors.full_messages.each do |error| %>
        <%= alert_generator error %>
      <% end %>
    <% end %>

    <div class="form-group container w-75 review">
      <%= form.label :'Leave A Review', class: "leave-a-review" %>
      <%= form.text_area :body, class: 'form-control' %>
    </div>

    <div class = post-review-btn>
    <%= form.submit 'Post Review', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
